.icon-application-form-edit { background:url('icons/application_form_edit.png') no-repeat center center;}

.icon-application-cascade { background:url('icons/application_cascade.png') no-repeat center center;}

.icon-creditcards { background:url('icons/creditcards.png') no-repeat center center;}

.icon-cart { background:url('icons/cart.png') no-repeat center center;}

.icon-bricks { background:url('icons/bricks.png') no-repeat center center;}

.icon-chart-curve { background:url('icons/chart_curve.png') no-repeat center center;}

.icon-wrench { background:url('icons/wrench.png') no-repeat center center;}

.icon-reload{ background:url('icons/reload.png') no-repeat center center;}

.icon-tip{ background:url('icons/tip.png') no-repeat center center;}

.icon-onsal{ background:url('icons/onsal.png') no-repeat center center;}

.icon-notonsal{ background:url('icons/notonsal.png') no-repeat center center;}

.icon-add2{ background:url('icons/add.png') no-repeat center center;}

.icon-edit2{ background:url('icons/table_edit.png') no-repeat center center;}

.icon-cancel2{ background:url('icons/cancel.png') no-repeat center center;}

.icon-preview{ background:url('icons/preview.png') no-repeat center center;}

.icon-alliance{ background:url('icons/alliance.png') no-repeat center center;}

.redpack{ background:url('icons/redpack.png') no-repeat center center;}

.icon-user-edit{ background:url('icons/user_edit.png') no-repeat center center;}

.icon-discount{ background:url('icons/discount.png') no-repeat center center;}

.icon-personal{ background:url('icons/personal.png') no-repeat center center;}

.icon-submit{ background:url('icons/submit.png') no-repeat center center;}

.icon-home{ background:url('icons/user_home.png') no-repeat center center;}

.icon-folder{ background:url('icons/folder.png') no-repeat center center;}

.icon-menu{ background:url('icons/menu.png') no-repeat center center;}

.icon-cart-del{ background:url('icons/cart_delete.png') no-repeat center center;}

.icon-cart-edit{ background:url('icons/cart_edit.png') no-repeat center center;}

.icon-cart-remove{ background:url('icons/cart_remove.png') no-repeat center center;}

.icon-users{ background:url('icons/users.png') no-repeat center center;}

.icon-users-group{ background:url('icons/user_group.png') no-repeat center center;}

.icon-book{ background:url('icons/book.png') no-repeat center center;}

.icon-menu{ background:url('icons/menu.png') no-repeat center center;}

.icon-user{ background:url('icons/user.png') no-repeat center center;}

.icon-calender{ background:url('icons/calendar.png') no-repeat center center;}

.icon-calender-edit{ background:url('icons/calendar_edit.png') no-repeat center center;}

.icon-chart-bar{ background:url('icons/chart_bar.png') no-repeat center center;}

.icon-messager{ background:url('icons/messg.png') no-repeat center center;}

.icon-photo{ background:url('icons/photo.png') no-repeat center center;}

.icon-key{ background:url('icons/key.png') no-repeat center center;}

.icon-lock{ background:url('icons/lock.png') no-repeat center center;}

.icon-plugin{ background:url('icons/plugin_edit.png') no-repeat center center;}

.icon-report{ background:url('icons/report.png') no-repeat center center;}

.icon-note{ background:url('icons/note_add.png') no-repeat center center;}

.icon-categ{ background:url('icons/categ.png') no-repeat center center;}







